<extend name='Public/base' />


{//侧边栏}
<block name='sidebar'>
	<include file='Public/sidebar' nav = 'article' />
</block>

{//面包悄}
<block name='breadcrumb'>
	<span>发表文章</span>
</block>

<block name='css'>
	<link rel="stylesheet" href="__PUBLIC__/AdminStyle/js/datejs/jquery.datetimepicker.css" />
	<link rel="stylesheet" href="__PUBLIC__/AdminStyle/css/articlecomon.css" />
</block>

{//主体}
<block name='main'>
	<div class="main_content">
		<form  action="{:U('Admin/Article/doAdd')}" onsubmit="return $.add(this)" method="post" name="articles">
		<div  class="article_content">
			<label for="article_title">标题</label>
			<input type="text" id="article_title" name='title' placeholder="输入标题" /><br />
			<label for="article_cont">正文</label>
			<textarea id="edit_container" name="cont"></textarea>
			<div class="article_mianban">
				<label>分类</label>
		       	<select name="category">
		       	 	 <?php foreach($category as $key => $val): ?>
			       	 	<option value="{$val.id}">{$val.catename}</option>
			       	 	 <?php foreach($val['child'] as $k =>$v): ?>
			       	 		<option style="color: dimgray;" value="{$v.id}">└─{$v.catename}</option>
			       	 	<?php endforeach ?>
		       	 	<?php endforeach ?>
		       	</select><br />
		       	<label>作者</label>
		       	<select name="author">
		       		 <?php foreach($manager as $key => $v): ?>
		       	 	<option value="{$v.username}">{$v.username}</option>
		       	 	<?php endforeach ?>
		       	</select><br />
		       	 <label>时间</label>
		       	 <input type="text" id="datetimepicker" name="time"><br />
		       	 <label>标签</label>
		       	 <input type="text" name="tags" />
		       	 <button type="submit" class="article_submit">提交</button>
			</div>
		</div>
		</form>
	</div>
</block>

<block name='js'>
	<script type="text/javascript" src="__PUBLIC__/AdminStyle/js/uEditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__PUBLIC__/AdminStyle/js/uEditor/ueditor.all.js"></script>
	<script type="text/javascript" src="__PUBLIC__/AdminStyle/js/datejs/jquery.datetimepicker.js"></script>
	<script>
		//设置ueEditor
		 var ue = UE.getEditor('edit_container',{
		 	initialFrameWidth:650,
		 	initialFrameHeight:200,
		 	zIndex:1,
		 });
		 $(function(){
		 	$('#datetimepicker').datetimepicker();

		 	$.extend({
		 		add:function(obj){
		 			if($('#article_title').val() == ''){
		 				alert('标题不能为空');
		 			}else{
		 			var obj = $(obj);
		 			$.ajax({
		 				type:"post",
		 				url:obj.attr('action'),
		 				data:obj.serialize(),
		 				success:function(respon){
		 						alert(respon.msg);
		 						window.location.href = respon.url;
		 				}
		 			});
		 			}
		 			return false;		
		 		}
		 	});
		 });
	</script>
</block>